<!doctype html>
<html ng-app="colorPicker">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script>
      angular.module('colorPicker', [])
        .controller('colorValueController', function() {
          var letters = ["a", "b", "c", "d", "e", "f"];
          var colorValue = this;
          colorValue.hex = "000000";
          colorValue.r = 00;
          colorValue.g = 00;
          colorValue.b = 00;
          colorValue.valid = colorValue.hex;

          colorValue.updateRGB = function() {
          	var valid = colorValue.hex.length == 6;
            if (valid) {
            	for (var i = 0; i < colorValue.hex.length && valid; i++) {
            		valid = !isNaN(parseInt(colorValue.hex[i])) || letters.indexOf(colorValue.hex[i]) != -1;
            	}
            }
            if (valid) {
            	var rgb = [0, 0, 0];
            	for (var i = 0; i < rgb.length; i++) {
            		var val1 = parseInt(colorValue.hex[i*2]);
            		var val2 = parseInt(colorValue.hex[i*2+1]);
            		rgb[i] += (!isNaN(val1) ? val1 : letters.indexOf(colorValue.hex[i*2]) + 10) * 16;
            		rgb[i] += (!isNaN(val2) ? val2 : letters.indexOf(colorValue.hex[i*2+1]) + 10);
            	}
            	colorValue.r = rgb[0];
            	colorValue.g = rgb[1];
            	colorValue.b = rgb[2];
            	colorValue.updateValid();
            }
          }

          colorValue.updateHex = function() {
            var rgb = [colorValue.r, colorValue.g, colorValue.b];
            var valid = true;
            for (var i = 0; i < rgb.length && valid; i++) {
              valid = between(rgb[i], 0, 255);
            }
            if (valid) {
              colorValue.hex = "";
              for (var i = 0; i < rgb.length; i++) {
                var count = 0;
                while (rgb[i] >= 16) {
                  rgb[i] -= 16;
                  count++;
                }
                if (count < 10) colorValue.hex += count;
                else colorValue.hex += letters[count-10];
                if (rgb[i] < 10) colorValue.hex += rgb[i];
                else colorValue.hex += letters[rgb[i]-10];
              }
              colorValue.updateValid();
            }
          }

          colorValue.updateValid = function() {
          	colorValue.valid = colorValue.hex;
          	console.log(colorValue.valid);
          }

          function between(x, min, max) {
            return x >= min && x <= max;
          }

          /*
          Create directive for colorPicker (use templateUrl)
          Implement the following:
          	colorValue.setHex = function() { };
          	colorValue.getHex = function() { };
          	colorValue.setRGB = function() { };
          	colorValue.getRGB = function() { };
          	colorValue.getValid = function() { };
          Change colorValueController to colorValueService.
          Create colorValueService that:
          -Handles display
          -Uses get/set methods to update values in controller and service
          */
        });
    </script>
  </head>
  <body>
    <div ng-controller="colorValueController as colorValue">
      <p>
        <input type="text" maxlength="6" ng-model="colorValue.hex" ng-change="colorValue.updateRGB()">
      </p>
      <p>
        <input type="number" min="0" max="255" ng-model="colorValue.r" ng-change="colorValue.updateHex()">
        <input type="number" min="0" max="255" ng-model="colorValue.g" ng-change="colorValue.updateHex()">
        <input type="number" min="0" max="255" ng-model="colorValue.b" ng-change="colorValue.updateHex()">
      </p>
      <div style="width: 50px; height: 50px; background-color: #{{colorValue.valid}}"></div>
    </div>
  </body>
</html>